<!DOCTYPE>
<html>
</html>
<body>
  <% if flash[:goodbye] %>
    <p class="flash"><%= flash[:goodbye] %></p>
  <% end %>
  <h3 id="tag_name">Everyone's favorite social portal :)</h3>
  <% if current_user %>
    <form action='/posts'>
      <input id="chit_feed" type='submit' value='Chitter Feed'>
    </form>
  <% else %>
    <div id="sign_in">
      <p class="text">Log in to your account</p>
      <form action='/sign_in' method='post'>
        <input type='email' name='email' placeholder='Email Address'><br>
        <input type='password' name='password' placeholder='Pasword'><br>
        <input type='submit' value='Sign In'><br>
      </form>
      <% if flash[:errors] %>
      <%= flash[:errors] %>
      <% end %>
    </div>
    <div id="no_sign_in">
      <p class="text">Don't have an account?</p>
      <form action='/posts'>
        <input type='submit' value='View Recent Chits?'>
      </form>
      <form action='/register'>
        <input type='submit' value='Sign up!'>
      </form>
    </div>
  <% end %>
</body>
